/* ===========================
   EFEITO DE FADE-IN
=========================== */
.pokemon.fade-in {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.pokemon.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ===========================
   POKÉBOLA LOADER
=========================== */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.hidden {
    display: none;
}

.pokeball {
    width: 60px;
    height: 60px;
    border: 3px solid #000;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(to bottom, #ff1c1c 50%, #ffffff 50%);
    animation: spin 1s linear infinite;
}

.pokeball::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: white;
    border: 3px solid black;
    border-radius: 50%;
    z-index: 2;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ===========================
   MODAL DE DETALHES
=========================== */
.pokemon-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease;
}

.modal-content {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    transform: scale(0.95);
    animation: zoomIn 0.3s ease forwards;
}

.modal-content img {
    width: 120px;
    height: 120px;
    margin: 1rem 0;
}

.modal-content h2 {
    text-transform: capitalize;
    color: #333;
}

.modal-content span {
    font-size: 0.8rem;
    color: gray;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Adiciona sombra e brilho às informações do HP, ataque, defesa e velocidade */
.pokemon-modal .stats li {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

/* Adiciona sombra e brilho ao nome do Pokémon */
.pokemon-modal h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.stats {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
}

.stats li {
    text-align: left;
    margin: .3rem 0;
    color: #555;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}


